@inject IVehicleModelService VehicleModelService

@if(VehicleModelService.VehicleModels == null || VehicleModelService.VehicleModels.Count == 0)
{
    <span>Loading VehicleModels...</span>
}
else
{
    
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await VehicleModelService.GetVehicleModels();
    }
}
